<h1>Campaigns</h1>
<%= button_to "Import Votes", import_votes_path, method: :post if Vote.count == 0 %>
 <h2>Invalid Votes: <%= @invalid_votes %></h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @campaigns.each do |campaign| %>
      <tr>
        <td><%= link_to campaign.name, campaign_candidates_path(campaign)  %></td>
      </tr>
    <% end %>
  </tbody>
</table>